<h2>Changes</h2>
<table>
  <tr>
    <th>Change ID</th>
    <th>Stock ID</th>
    <th>Price Open</th>
    <th>Price Close</th>
    <th>Price High</th>
    <th>Price Low</th>
    <th>Date</th>
  </tr>
  <tr>
    
  </tr>
</table>