{{!-- Eventually used when we can use the server to get SQL data, etc. --}}

{{!-- This would be the table name --}}
<h1>{{title}}</h1>

{{>crudForm}}

<table>
    {{!-- This would be the first row that would have the names of the attributes (potentially could be mixed with below) --}}
    <tr>
        {{#each attributes}}
            <th>{{this}}</th>
        {{/each}}
    </tr>

    {{!-- This would be the input data, like dummy data in the DB for example. --}}
    {{#each inputs}}    
    <tr>
        {{#each this}}
            <td>{{this}}</td>
        {{/each}}
            <td>
                {{!-- <button class="update-button">Update</button> --}}
                <button class="delete-button">Delete</button>
            </td>
    </tr>
    {{/each}}

    



    <!-- Add PHP or any server-side scripting language to fetch and display data from the Investors table -->
</table>

