<!-- navBar_editor.hbs -->
<nav>
    <ul>
        <li><a href="/edit">Home Page</a></li>
        <li><a href="/edit/investors">Edit Investors</a></li>
        <li><a href="/edit/stocks">Edit Stocks</a></li>
        <li><a href="/edit/changes">Edit Changes</a></li>
        <li><a href="/edit/investments">Edit Investments</a></li>
        <li><a href="/edit/investedStocks">Edit Invested Stocks</a></li>
    </ul>
</nav>