<!-- navBar.hbs -->
<nav>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/show/investors">View Investors</a></li>
        <li><a href="/show/stocks">View Stocks</a></li>
        <li><a href="/show/changes">View Changes</a></li>
        <li><a href="/show/investments">View Investments</a></li>
        <li><a href="/show/investedStocks">View Invested Stocks</a></li>
    </ul>
</nav>