
{{!-- This would be the table name --}}
<h1>{{title}}</h1>

{{!-- Navigation Bar --}}
{{>navBar}}

<table>
    {{!-- This would be the first row that would have the names of the attributes (potentially could be mixed with below) --}}
    <tr>
        {{#each attributes}}
            <th>{{this}}</th>
        {{/each}}
    </tr>

    {{!-- This would be the input data, like dummy data in the DB for example. --}}
    {{#each inputs}}    
    <tr>
        {{#each this}}
            <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}

    <!-- Add PHP or any server-side scripting language to fetch and display data from the Investors table -->
</table>