<!-- editor.hbs -->
<h1>Welcome back to Lightning Stocks Editor!</h1>

<h2>Links to our tables:</h2>

<ul>
  {{!-- these pages should only be accessible by admin (hence /edit) --}}
  <li><a href="/edit/investors">Edit Investors</a></li>
  <li><a href="/edit/stocks">Edit Stocks</a></li>
  <li><a href="/edit/changes">Edit Changes</a></li>
  <li><a href="/edit/investments">Edit Investments</a></li>
  <li><a href="/edit/investedStocks">Edit Invested Stocks</a></li>
</ul>

<li><a href="/">Return to Regular Page</a></li>
