<!-- editor.hbs -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tables/investors">View Investors</a></li>
        <li><a href="/tables/stocks">View Stocks</a></li>
        <li><a href="/tables/changes">View Changes</a></li>
        <li><a href="/tables/investments">View Investments</a></li>
        <li><a href="/tables/investedStocks">View Invested Stocks</a></li>
    </ul>
</nav>

{{> (lookup . 'body') }}