<!-- index.hbs -->
<h1>Welcome to Lightning Stocks!</h1>

<h2>Links to our tables:</h2>

<ul>
  <li><a href="/show/investors">View Investors</a></li>
  <li><a href="/show/stocks">View Stocks</a></li>
  <li><a href="/show/changes">View Changes</a></li>
  <li><a href="/show/investments">View Investments</a></li>
  <li><a href="/show/investedStocks">View Invested Stocks</a></li>
</ul>

<li><a href="/edit">Super Secret Editor Page</a></li>
