<h1>Welcome to Lightning Stocks!</h1>


<p>Note: To create rows, simply leave the primary key as NULL!</p>

<h2>Links to our tables:</h2>
<ul>
  <li><a href="/tables/investors">View Investors</a></li>
  <li><a href="/tables/stocks">View Stocks</a></li>
  <li><a href="/tables/changes">View Changes</a></li>
  <li><a href="/tables/investments">View Investments</a></li>
  <li><a href="/tables/investedStocks">View Invested Stocks</a></li>
</ul>