<h1>Welcome to Lightning Stocks!</h1>

<h2>Links to our tables:</h2>
<ul>
  <li><a href="/edit/investors">View Investors</a></li>
  <li><a href="/edit/stocks">View Stocks</a></li>
  <li><a href="/edit/changes">View Changes</a></li>
  <li><a href="/edit/investments">View Investments</a></li>
  <li><a href="/edit/investedStocks">View Invested Stocks</a></li>
</ul>