<body>
<ul>
  <li><a href="/investors">View Investors</a></li>
  <li><a href="/stocks">View Stocks</a></li>
  <li><a href="/changes">View Changes</a></li>
  <li><a href="/investments">View Investments</a></li>
  <li><a href="/investedStocks">View Invested Stocks</a></li>
</ul>
</body>