<body>



<ul>
  <li><a href="investors.php">View Investors</a></li>
  <li><a href="stocks.php">View Stocks</a></li>
  <li><a href="changes.php">View Changes</a></li>
  <li><a href="investments.php">View Investments</a></li>
  <li><a href="invested_stocks.php">View Invested Stocks</a></li>
</ul>

</body>